Repository otobrglez/compression-puzzle, pull requests merged in 2022-02, with the labels that each got.

#20 Added recursive Rye example
  src/rye/.gitattributes
  src/rye/compress_jm_rec.rye
  src/rye/compress_jm_rec_steps.rye
Labels: language support needed, rye

#30 Kotlin solution (mn1024)
  Makefile
  README.md
  shell.nix
  src/kotlin/mn1024_compress.kts
Labels: kotlin

#14 Add benchmarks
  src/python/benchmarks.py
Labels: python

#31 Add rust solution
  .gitignore
  Makefile
  README.md
  shell.nix
  src/rust/compress.rs
Labels: rust

#35 added rescript (reason) example
  .gitignore
  Makefile
  src/rescript/PatternMatchCompress.res
  src/rescript/bsconfig.json
Labels: language support needed

#32 Implement compress with recursion in Typescript
  src/javascript/compress_go2.ts
Labels: language support needed

#41 Fix for running all Python scripts (except benchmark.py)
  Makefile
Labels: python

#45 Support for C# and merge of "papsl"-s solution.
  Makefile
  README.md
  authors.yml
  src/cs/.gitignore
  src/cs/pp/.gitignore
  src/cs/pp/Program.cs
  src/cs/pp/cs.csproj
  updated-authors.rb
Labels: C#

#43 Add C++ examples
  Makefile
  src/c++/compress_fast.cpp
  src/c++/compress_slow.cpp
Labels: language support needed, C++

#46 Create CompressionPuzzle03.scala
  src/scala/CompressionPuzzle03.scala
Labels: scala
